# 2023 Project

You have to work on the [ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:
*  [metaData.csv](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/metaData.csv?sequence=1&isAllowed=y), shortly *trips*
*  several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a [zip file](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/ZTBus_compressed.zip?sequence=3&isAllowed=y). Let us call those datasets the *details* datasets.

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself. You can use the Zulip channel to create the groups.
1.    You do not have to send me the project *before* the discussion.

Importing ZTBus Dataframe and data for each bus (all_buses_data)

In [1]:
import pandas as pd
ZTBus = pd.read_csv("metaData.csv")

In [2]:
ZTBus.shape

(1409, 16)

In [3]:
# For each bus data
# First we create a list of all the bus names
names = ZTBus["name"].tolist()

# Creates a dictionary to store the bus databases
bus_data_dict = {}

# Iterate over the bus names
for name in names:
    # Reads the bus database
    df_bus = pd.read_csv(f"{name}.csv")

    # Add the "name" column of the bus
    df_bus["name"] = name
    
    # Stores the DataFrame in the dictionary
    bus_data_dict[name] = df_bus

In [4]:
all_buses_data = pd.concat(bus_data_dict.values(), ignore_index=True)

In [5]:
all_buses_data.shape

(48674462, 27)

* Delete columns that we are not going to use
* Create 2 variables containing a list of the columns to be eliminated
* we have changed the variable:
    * ZTBus -> ztbus
    * all_buses_data -> df_bus

In [6]:
ZTBus.columns

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max'],
      dtype='object')

In [7]:
columns_to_drop_ztbus = ['startTime_unix', 'endTime_iso', 'endTime_unix',
                         'itcs_numberOfPassengers_min', 'itcs_numberOfPassengers_max',
                         'status_gridIsAvailable_mean','temperature_ambient_min','temperature_ambient_max']
ztbus = ZTBus.drop(columns=columns_to_drop_ztbus, axis=1)

In [8]:
all_buses_data.columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'name'],
      dtype='object')

In [9]:
columns_to_drop_buses = ['time_unix', 'electric_powerDemand', 'odometry_articulationAngle','gnss_course',
                          'odometry_steeringAngle', 'odometry_wheelSpeed_fl', 'odometry_wheelSpeed_fr',
                          'odometry_wheelSpeed_ml', 'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
                          'odometry_wheelSpeed_rr', 'status_gridIsAvailable',
                          'traction_brakePressure', 'traction_tractionForce']
df_bus = all_buses_data.drop(columns=columns_to_drop_buses, axis=1)

In [10]:
ztbus.shape

(1409, 8)

In [11]:
df_bus.shape

(48674462, 13)

Explaining the meanings of each column

ZTBUS Columns:

* name: Unique identifier of the bus.
* busNumber: Bus number.
* startTime_iso: start time in ISO format (e.g. '2022-01-16T12:30:45').
* drivenDistance: Distance covered by the bus.
* busRoute: Bus route.
* energyConsumption: Bus energy consumption.
* itcs_numberOfPassengers_mean: Average number of passengers. 
* temperature_ambient_mean: Average ambient temperature.

DF_BUS Columns

* time_iso: start time in ISO format (e.g. '2022-01-16T12:30:45')
* gnss_altitude: Altitude obtained from the global positioning system.
* gnss_latitude: Latitude obtained from the global positioning system.
* gnss_longitude: Longitude obtained from the global positioning system.
* itcs_busRoute: Bus route.
* itcs_numberOfPassengers: Number of passengers.
* itcs_stopName: Name of the stop.
* odometry_vehicleSpeed: Vehicle speed according to the odometer.
* status_doorIsOpen: Status of whether the doors are open.
* status_haltBrakeIsActive: Status of whether the parking brake is active.
* status_parkBrakeIsActive: Status of whether the parking brake is active.
* temperature_ambient: Ambient temperature.
* name: Unique identifier of the bus.

We save the modified DFs

In [12]:
ztbus.to_csv('ztbus.csv', index=False)

In [13]:
df_bus.to_csv('df_bus.csv', index=False)

### 1. Extract all trips with `busRoute` 83

The bus trips are in the ztbus database, so let's filter where the column "busRoute" = 83

In [14]:
route_83=ztbus[ztbus['busRoute']=='83']
route_83.head(3)

,name,busNumber,startTime_iso,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,temperature_ambient_mean
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,225047.90,83,1.544278e+09,23.47531,280.5450
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,224512.30,83,1.631816e+09,17.41578,279.8850
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,77824.36,83,5.406013e+08,23.18182,281.0489

In [15]:
route_83.shape

(846, 8)

### 2. Extract all trips where `busRoute` is not a number

From the "ztbus" database, we verify which are the unique values in "busRoute".

Then we create a variable containing the values that are not numbers.

finally, we filter in the "busRoute" column of the dataframe where any value of the created variable is present.

In [16]:
ztbus.busRoute.unique()

array(['-', '31', '33', '72', '46', '32', '83', 'N4', 'N2', 'N1'],
      dtype=object)

In [17]:
# The script uses the NumPy library to identify non-number values
import numpy as np

# We obtain the unique values of the column "busRoute"
uniq_busR = ztbus['busRoute'].unique()

# Create an empty list
not_number = []

for val in uniq_busR:
    
    #We use the "np.isnan()" function to check if a value is NaN.
    if np.isnan(pd.to_numeric(val, errors='coerce')):
        not_number.append(val)

not_number

['-', 'N4', 'N2', 'N1']

In [18]:
# We filter in the "busRoute" column
ztbus[ztbus['busRoute'].isin(not_number)].head()

,name,busNumber,startTime_iso,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,temperature_ambient_mean
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,77213.87,-,4.785852e+08,5.538860,282.3780
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,42565.48,-,2.819867e+08,1.685185,282.4129
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,210577.00,-,1.303391e+09,8.230483,287.5623
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,267033.80,-,1.647432e+09,7.891652,284.6764
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,263432.60,-,1.448057e+09,7.520249,293.1440

In [19]:
ztbus[ztbus['busRoute'].isin(not_number)].shape

(84, 8)

### 3. For each (busNumber, busRoute) pair, determine the number of trips

For the solution of the question, we group the columns "busNumber" and "busRoute" of the data frame.
Then we add the function "size()" to count the number of occurrences in each group
which we will name this column "Number_Trips".

In [20]:
ztbus.groupby(['busNumber','busRoute']).size().reset_index(name='Number_Trips')

    busNumber busRoute  Number_Trips
0         183        -            11
1         183       31            12
2         183       32            12
3         183       33           130
4         183       46           104
5         183       72           114
6         183       83           441
7         183       N1            10
8         183       N2            19
9         183       N4            11
10        208       31             5
11        208       32            14
12        208       33            25
13        208       46            19
14        208       72            44
15        208       83           405
16        208       N1             6
17        208       N2            20
18        208       N4             7

### 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

For the "ztbus" database, we create a column called "Ratio_Energy-Passengers" 
which will be the ratio that is the division of 
the "energyConsumption" and "itcs_numberOfPassengers_mean"

In [21]:
ztbus['Ratio_Energy-Passengers']=ztbus['energyConsumption']/ztbus['itcs_numberOfPassengers_mean']

In [22]:
ztbus.head(3)

,name,busNumber,startTime_iso,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,temperature_ambient_mean,Ratio_Energy-Passengers
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,77213.87,-,4.785852e+08,5.53886,282.3780,8.640500e+07
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,59029.60,31,4.022585e+08,33.11458,287.5443,1.214747e+07
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,240900.40,33,1.445733e+09,19.68914,288.7490,7.342794e+07

### 5. For each station (`itcs_stopName`), determine the average number of passengers.

* For this query we will use the dataframe "df_bus".
* We will group with the unique values of "itcs_stopName".
* To this group we will add the average column of "itcs_numberOfPassengers", which will be the average number of passengers per unique value of "itcs_stopName".
* We will name this last calculated column "averagePassengers".

In [23]:
df_bus_5 = df_bus[df_bus['itcs_stopName'] != "-"]

df_bus_5.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().reset_index(name='averagePassengers').round(2)

                      itcs_stopName  averagePassengers
0                 Zürich, Albisrank              16.20
1          Zürich, Albisriederplatz              25.45
2         Zürich, Altes Krematorium              21.98
3         Zürich, Bahnhof Affoltern               2.85
4        Zürich, Bahnhof Altstetten               7.82
..                              ...                ...
144         Zürich, Zentrum Witikon              17.26
145        Zürich, Zweiackerstrasse               7.50
146              Zürich, Zwielplatz               2.05
147             Zürich, Zwinglihaus              23.20
148  Zürich,Kalkbreite/Bhf.Wiedikon              23.16

[149 rows x 2 columns]

How it would look like if we order it from highest to lowest

In [24]:
df_bus_5.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().reset_index(name='averagePassengers').round(2).sort_values(by='averagePassengers', ascending=False)

                    itcs_stopName  averagePassengers
102        Zürich, Röntgenstrasse              32.55
77            Zürich, Limmatplatz              30.38
40              Zürich, Hardplatz              29.77
87   Zürich, Militär-/Langstrasse              28.00
60           Zürich, Kanonengasse              27.18
..                            ...                ...
139                Zürich, Wartau               1.41
107               Zürich, Salzweg               1.12
115         Zürich, Schwandenholz               1.06
138               Zürich, Waidhof               0.46
24           Zürich, Dunkelhölzli               0.37

[149 rows x 2 columns]

### 6. For each station, determine the buses that have stopped there at least once.

* For this question, we will use the database "df_bus".
* We will use the column "status_haltBrakeIsActive": Status that if the parking brake is activated.
* We will filter where "status_haltBrakeIsActive" is active (=1), that means that the bus has stopped.
* Then we make the filter in case the "itcs_stopName" is different than "-" 
* We group according to "itcs_stopName" and then count the number of times they have stopped using the count()   function (we use as reference the column "name")
* We change the name of the new column to "buses_stopped".
* Finally, we filter in this new column the values which are >0

In [25]:
df_bus_6=df_bus[['name','itcs_stopName','status_haltBrakeIsActive']].copy()
# Filters rows where the parking brake is active (status_haltBrakeIsActive==1)
bus_stop = df_bus_6[df_bus_6['status_haltBrakeIsActive'] == 1]
#Filters rows where the "itcs_stopName" is not "-"
bus_stop = bus_stop[bus_stop['itcs_stopName'] != '-']

# Group by column 'itcs_stopName' and count the number of buses stopped at each stop
bus_stop_counts = bus_stop.groupby('itcs_stopName')['name'].count().reset_index(name='buses_stopped')

# Filter the stops where at least one bus has stopped (buses_detenidos > 0)
bus_stop_more_0 = bus_stop_counts[bus_stop_counts['buses_stopped'] > 0]

bus_stop_more_0

                      itcs_stopName  buses_stopped
0                 Zürich, Albisrank           6202
1          Zürich, Albisriederplatz           7173
2         Zürich, Altes Krematorium           7908
3         Zürich, Bahnhof Affoltern             43
4        Zürich, Bahnhof Altstetten           3049
..                              ...            ...
143         Zürich, Zentrum Witikon            127
144        Zürich, Zweiackerstrasse            102
145              Zürich, Zwielplatz             52
146             Zürich, Zwinglihaus           1691
147  Zürich,Kalkbreite/Bhf.Wiedikon            319

[148 rows x 2 columns]

### 7. For each station, determine the buses that have stopped there at least ten times.

* From the previous question we will only change the conditional to be greater than 9

In [26]:
# Filters the stops where at least one bus has stopped (> 9)
bus_stop_more_10 = bus_stop_counts[bus_stop_counts['buses_stopped'] > 9]

bus_stop_more_10

                      itcs_stopName  buses_stopped
0                 Zürich, Albisrank           6202
1          Zürich, Albisriederplatz           7173
2         Zürich, Altes Krematorium           7908
3         Zürich, Bahnhof Affoltern             43
4        Zürich, Bahnhof Altstetten           3049
..                              ...            ...
143         Zürich, Zentrum Witikon            127
144        Zürich, Zweiackerstrasse            102
145              Zürich, Zwielplatz             52
146             Zürich, Zwinglihaus           1691
147  Zürich,Kalkbreite/Bhf.Wiedikon            319

[148 rows x 2 columns]

### 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

* For the "ztbus" database, we make a grouping by the "busRoute" and "name" columns.
* To this grouping we will calculate the sum function for 2 columns: "energy Consumption" and "drivenDistance".
* The result is stored in a variable
* In this variable, we create a column called "Ratio_Energy-Distance" which will be the division of "energyConsumption" and "drivenDistance".

In [27]:
ZTBus_Route_Bus=ztbus.groupby(['busRoute','name'])[['energyConsumption','drivenDistance']].sum().reset_index()
ZTBus_Route_Bus['Ratio_Energy_Distance']=ZTBus_Route_Bus['energyConsumption']/ZTBus_Route_Bus['drivenDistance']
ZTBus_Route_Bus

,busRoute,name,energyConsumption,drivenDistance,Ratio_Energy_Distance
0,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,4.785852e+08,77213.87,6198.176571
1,-,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,2.819867e+08,42565.48,6624.774348
2,-,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,1.303391e+09,210577.00,6189.617100
3,-,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,1.647432e+09,267033.80,6169.376311
4,-,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,1.448057e+09,263432.60,5496.878518
...,...,...,...,...,...
1404,N4,B208_2022-01-21_23-52-47_2022-01-22_03-39-46,4.808329e+08,75349.67,6381.353760
1405,N4,B208_2022-04-01_22-29-37_2022-04-02_02-35-00,5.548334e+08,78118.89,7102.422986
1406,N4,B208_2022-04-23_22-40-20_2022-04-24_02-36-05,4.558138e+08,76776.52,5936.890601
1407,N4,B208_2022-06-17_22-38-03_2022-06-18_02-37-46,3.715985e+08,78130.69,4756.114403
1408,N4,B208_2022-10-15_22-48-49_2022-10-16_02-46-32,3.656908e+08,76038.86,4809.262001

### 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

* For this question, we will use the variable from the previous question "ZTBus_Route_bus" 
* We group it by "busRoute".
* We calculate the maximum and minimum value of "Ratio_Energy_Distance" and store it in 2 variables
* We make a Join with the merge function of these 2 variables, the common column will be "busRoute" 
* We will store in a variable the result of the merge.
* We create a new column in this last variable that will be the difference between the maximum and minimum value of the ratio.

In [28]:
# Create the variables for the minimum and maximum ratios
max_ratio_energy = ZTBus_Route_Bus.groupby('busRoute')['Ratio_Energy_Distance'].max().reset_index(name='max_ratio_energy')
min_ratio_energy = ZTBus_Route_Bus.groupby('busRoute')['Ratio_Energy_Distance'].min().reset_index(name='min_ratio_energy')

# Combines the variables max_ratio_energy and min_ratio_energy with the merge function
ZTBus_ratio_energy = pd.merge(max_ratio_energy, min_ratio_energy, on='busRoute')

# Calculates the difference
ZTBus_ratio_energy['Dif_max_min'] = ZTBus_ratio_energy['max_ratio_energy'] - ZTBus_ratio_energy['min_ratio_energy']
ZTBus_ratio_energy

  busRoute  max_ratio_energy  min_ratio_energy  Dif_max_min
0        -       7126.201782       4855.316392  2270.885390
1       31       8352.782142       4779.099457  3573.682685
2       32       8224.940819       4718.151344  3506.789475
3       33       8135.999322       4124.414704  4011.584617
4       46       7930.619197       4260.346565  3670.272632
5       72       8655.515149       4302.356316  4353.158833
6       83       8542.956407       4032.768899  4510.187507
7       N1       7589.040341       4617.548180  2971.492161
8       N2       7401.677294       3932.347200  3469.330094
9       N4       7137.138141       4756.114403  2381.023738

### 11. Find the bus maximizing the difference computed in the previous point.

* First we calculate the maximum value of "Dif_max_min" and store it in a variable.
* We create a second variable that is a dataframe of the previous table but making a filter in the column         "Dif_max_min" so that it is equal to the first variable created, which would be the maximum value of the       difference.
* This last variable will be a dataframe of 1 single row, which will have data in each column that we will       store in other variables using the iloc function.
* With the obtained variables, we will look for the bus with the maximum and minimum value by intersecting       "busRoute" with "Ratio_Energy_Distance", which will store only the value of the "name" column.

In [29]:
max_diff=ZTBus_ratio_energy['Dif_max_min'].max()
max_diff_row=ZTBus_ratio_energy[ZTBus_ratio_energy['Dif_max_min']==max_diff]

max_min_busRoute=max_diff_row['busRoute'].iloc[0]
max_value=max_diff_row['max_ratio_energy'].iloc[0]
min_value=max_diff_row['min_ratio_energy'].iloc[0]

bus_max=ZTBus_Route_Bus[(ZTBus_Route_Bus['busRoute']==max_min_busRoute)&(ZTBus_Route_Bus['Ratio_Energy_Distance']==max_value)][['name']]
bus_min=ZTBus_Route_Bus[(ZTBus_Route_Bus['busRoute']==max_min_busRoute)&(ZTBus_Route_Bus['Ratio_Energy_Distance']==min_value)][['name']]

print("the buses that belong to the maximum difference of energy - distance ratio:")
print("\nBus with the maximum ratio:")
print(bus_max)

print("\nBus with the minimum ratio:")
print(bus_min)

the buses that belong to the maximum difference of energy - distance ratio:

Bus with the maximum ratio:
                                             name
612  B183_2020-12-01_14-28-08_2020-12-01_19-39-08

Bus with the minimum ratio:
                                              name
1084  B208_2021-09-24_03-48-42_2021-09-24_07-47-53

### 12. Extract the rows of the details such that the `gnss_altitude` differs from the value in the preceding row. Store also the difference in the variable `altitude_variation`.

* We will use in this case the database "df_bus" and we will make a copy but only 2 columns: "name" and           "gnss_altitude".
* We add a column "previous_altitude", which will be the preceding value of "gnss_altitude" with the function     shift() but with the condition that if the previous row has the same value of the column "name", if it         doesn't, then the value of the same row will be copied.
* We create another column called "altitude_variation", which will be the difference between "gnss_altitude"     and "previous_altitude".

In [30]:
# Copy the database
df_bus_altitude = df_bus[['name','gnss_altitude']].copy()

df_bus_altitude = df_bus_altitude.dropna(subset=['gnss_altitude']).reset_index(drop=True)

# Create the column 'previous_altitude' based on the condition
df_bus_altitude['previous_altitude'] = df_bus_altitude['gnss_altitude'].shift(1)
df_bus_altitude.loc[df_bus_altitude['name'] != df_bus_altitude['name'].shift(1), 'previous_altitude'] = df_bus_altitude['gnss_altitude']

df_bus_altitude['altitude_variation'] = df_bus_altitude['gnss_altitude'] - df_bus_altitude['previous_altitude']
df_bus_altitude.head()

,name,gnss_altitude,previous_altitude,altitude_variation
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8,397.8,0.0
1,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8,397.8,0.0
2,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8,397.8,0.0
3,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8,397.8,0.0
4,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8,397.8,0.0

In [31]:
df_bus_altitude.head(10)

,name,gnss_altitude,previous_altitude,altitude_variation
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
1,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
2,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
3,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
4,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
5,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8000,397.8000,0.0000
6,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8299,397.8000,0.0299
7,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.3140,397.8299,2.4841
8,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,401.6892,400.3140,1.3752
9,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.4860,401.6892,-1.2032

In [32]:
df_bus_altitude.shape

(47343578, 4)

In [33]:
# To verify, we delete the rows of the column "altitude_variation" that have values equal to 0.
df_bus_alt = df_bus_altitude[df_bus_altitude['altitude_variation'] > 0]
df_bus_alt.head()

,name,gnss_altitude,previous_altitude,altitude_variation
6,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8299,397.8000,0.0299
7,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.3140,397.8299,2.4841
8,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,401.6892,400.3140,1.3752
11,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.7065,399.1192,1.5873
12,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,401.2039,400.7065,0.4974

In [34]:
# what if we do not delete the NaN in column "gnss_altitude"?
# Copy the database
df_bus_altitude_2 = df_bus[['name','gnss_altitude']].copy()

# Create the column 'previous_altitude' based on the condition
df_bus_altitude_2['previous_altitude'] = df_bus_altitude_2['gnss_altitude'].shift(1)
df_bus_altitude_2.loc[df_bus_altitude_2['name'] != df_bus_altitude_2['name'].shift(1), 'previous_altitude'] = df_bus_altitude_2['gnss_altitude']

df_bus_altitude_2['altitude_variation'] = df_bus_altitude_2['gnss_altitude'] - df_bus_altitude_2['previous_altitude']
df_bus_altitude_2.head()

,name,gnss_altitude,previous_altitude,altitude_variation
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN
1,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN
2,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN
3,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN
4,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN

In [35]:
df_bus_altitude_2.shape

(48674462, 4)

In [36]:
# To verify, we delete the rows of the column "altitude_variation" that have values equal to 0 and NaN.
df_bus_altitude_2 = df_bus_altitude_2.dropna(subset=['altitude_variation']).reset_index(drop=True)
df_bus_alt_2 = df_bus_altitude_2[df_bus_altitude_2['altitude_variation'] > 0]
df_bus_alt_2.head()

,name,gnss_altitude,previous_altitude,altitude_variation
5,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,397.8299,397.8000,0.0299
6,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.3140,397.8299,2.4841
7,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,401.6892,400.3140,1.3752
10,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,400.7065,399.1192,1.5873
11,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,401.2039,400.7065,0.4974

### 13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of `altitude_variation`.

* We create a column that will be the absolute values of the column "altitude_vaiation"
* We use the function apply and lambda to make the values all positive.
* Apply the sum function to the new column and round to 3 decimal places.

In [37]:
# Calculate the sum of the absolute values without using abs()
df_bus_altitude['altitude_sum'] = df_bus_altitude['altitude_variation'].apply(lambda x: x if x >= 0 else -x)
round(df_bus_altitude['altitude_sum'].sum(), 3)

15958210.543

* Another way to solve
* We can directly use the abs() function

In [38]:
df_bus_altitude['altitude_sum']=df_bus_altitude['altitude_variation'].abs()
round(df_bus_altitude['altitude_sum'].sum(),3)

15958210.543

### 14.  For each month of the year, compute the average ambient temperature

* For this question, we can use either of the 2 databases.
* ZTBUS:
    * We make a copy of the database but only the columns we are going to use: "starTime_iso" and                     "temperature_ambient_mean".
    * We use the function to_datetime to the column "starTime_iso".
    * We create 2 columns and they will be "month" and "year".
    * We group according to "year" and "month" and calculate the average of the column                               "temperature_ambient_mean".
* ALL_BUS:
    * we do the same procedure but with the columns "time_iso" and "temperature_ambient".

In [39]:
ztbus_temp = ztbus[['startTime_iso', 'temperature_ambient_mean']].copy()

# Convert to date format
ztbus_temp['startTime_iso'] = pd.to_datetime(ztbus_temp['startTime_iso']) 

ztbus_temp['Month'] = ztbus_temp['startTime_iso'].dt.month
ztbus_temp['Year'] = ztbus_temp['startTime_iso'].dt.year
ztbus_temp.groupby(['Year','Month'])[['temperature_ambient_mean']].mean().round(3)

            temperature_ambient_mean
Year Month
2019 4                       284.961
     5                       286.852
     6                       298.090
     7                       297.648
     8                       294.405
     9                       290.175
     10                      287.233
     11                      280.998
     12                      279.503
2020 1                       279.376
     2                       280.164
     3                       282.249
     4                       288.342
     5                       289.708
     7                       297.735
     8                       296.544
     9                       295.042
     10                      285.253
     11                      281.976
     12                      278.645
2021 1                       276.693
     2                       282.870
     3                       283.015
     4                       286.424
     5                       288.376
     6                       295.890
     7                       295.705
     8                       293.870
     9                       293.687
     10                      286.695
     11                      280.486
     12                      279.847
2022 1                       278.994
     2                       280.094
     3                       284.066
     4                       286.241
     5                       293.660
     6                       295.880
     7                       298.953
     8                       297.515
     9                       290.743
     10                      289.792
     11                      283.534
     12                      278.269

In [40]:
df_bus_temp = df_bus[['time_iso', 'temperature_ambient']].copy()

# Convert to date format
df_bus_temp['time_iso'] = pd.to_datetime(df_bus_temp['time_iso']) 

df_bus_temp['Month'] = df_bus_temp['time_iso'].dt.month
df_bus_temp['Year'] = df_bus_temp['time_iso'].dt.year
df_bus_temp.groupby(['Year','Month'])[['temperature_ambient']].mean().round(3)

            temperature_ambient
Year Month
2019 4                  284.742
     5                  287.412
     6                  297.837
     7                  297.372
     8                  294.657
     9                  290.038
     10                 287.484
     11                 281.092
     12                 279.622
2020 1                  279.498
     2                  280.128
     3                  281.895
     4                  289.403
     5                  289.722
     7                  297.811
     8                  297.495
     9                  295.114
     10                 284.751
     11                 281.434
     12                 278.686
2021 1                  276.707
     2                  282.394
     3                  282.332
     4                  286.107
     5                  288.660
     6                  296.247
     7                  296.012
     8                  294.257
     9                  294.165
     10                 286.423
     11                 280.614
     12                 280.118
2022 1                  278.696
     2                  280.988
     3                  284.698
     4                  287.033
     5                  293.630
     6                  296.852
     7                  299.191
     8                  297.708
     9                  290.681
     10                 289.800
     11                 283.447
     12                 278.516

### 15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

* For this question, we will use the dataframe "df_bus" but only the necessary columns.
* We make the filter when the "halt brake" and "park brake" are equal to 1 but we store it in different           variables.
* We make a merge of these 2 variables in which we will have 3 columns: "name", "time_haltbrake" and             "time_parkbrake".
    * The merge will be with a "how = outer" to obtain only the rows where the column "name" matches.
* We create a new column that will be the "ratio" which will be the division of the 2 times columns.

In [41]:
df_bus_15=df_bus[['name', 'status_haltBrakeIsActive','status_parkBrakeIsActive']].copy()
df_bus_haltbrake=df_bus_15[df_bus_15['status_haltBrakeIsActive']==1]
total_HB=df_bus_haltbrake['name'].value_counts().reset_index(name='time_haltbrake')
total_HB

                                             index  time_haltbrake
0     B183_2020-10-18_02-59-27_2020-10-18_23-04-45           27995
1     B183_2020-09-13_03-15-37_2020-09-13_23-04-59           27753
2     B183_2020-05-01_02-57-52_2020-05-01_22-51-26           27317
3     B208_2022-08-14_03-10-03_2022-08-14_22-59-22           27109
4     B208_2022-08-17_03-03-04_2022-08-17_23-02-05           26261
...                                            ...             ...
1251  B183_2022-11-12_00-07-31_2022-11-12_03-13-05            2842
1252  B208_2022-05-28_23-05-54_2022-05-29_02-18-32            2785
1253  B183_2022-10-21_13-39-31_2022-10-21_16-43-32            2783
1254  B183_2022-07-19_03-40-03_2022-07-19_07-02-16            2770
1255  B183_2022-06-24_23-09-54_2022-06-25_02-17-26            2369

[1256 rows x 2 columns]

In [42]:
df_bus_parkbrake=df_bus_15[df_bus_15['status_parkBrakeIsActive']==1]
total_PB=df_bus_parkbrake['name'].value_counts().reset_index(name='time_parkbrake')
total_PB

                                             index  time_parkbrake
0     B183_2019-07-07_01-27-19_2019-07-07_23-01-12           18511
1     B183_2020-05-01_02-57-52_2020-05-01_22-51-26           16329
2     B183_2020-10-18_02-59-27_2020-10-18_23-04-45           15373
3     B183_2022-06-05_02-53-59_2022-06-05_20-50-50           15190
4     B183_2022-05-22_03-15-35_2022-05-22_22-39-10           14676
...                                            ...             ...
1404  B208_2022-05-19_04-23-30_2022-05-19_07-36-06              82
1405  B208_2021-05-25_04-22-38_2021-05-25_07-32-26              81
1406  B183_2021-05-26_04-09-35_2021-05-26_07-34-27              75
1407  B208_2021-10-19_04-21-03_2021-10-19_07-38-05              72
1408  B208_2021-06-23_13-15-07_2021-06-23_18-25-12              63

[1409 rows x 2 columns]

In [43]:
# In this case we don't specify "how" because it returns only rows that have matching values in both key columns.
df_ratio_2 = pd.merge(total_HB, total_PB, on='index')

# Calculate the ratio between the two times
df_ratio_2['ratio_2'] = df_ratio_2['time_haltbrake'] / df_ratio_2['time_parkbrake']
df_ratio_2

,index,time_haltbrake,time_parkbrake,ratio_2
0,B183_2020-10-18_02-59-27_2020-10-18_23-04-45,27995,15373,1.821050
1,B183_2020-09-13_03-15-37_2020-09-13_23-04-59,27753,10466,2.651729
2,B183_2020-05-01_02-57-52_2020-05-01_22-51-26,27317,16329,1.672913
3,B208_2022-08-14_03-10-03_2022-08-14_22-59-22,27109,13891,1.951551
4,B208_2022-08-17_03-03-04_2022-08-17_23-02-05,26261,9682,2.712353
...,...,...,...,...
1251,B183_2022-11-12_00-07-31_2022-11-12_03-13-05,2842,806,3.526055
1252,B208_2022-05-28_23-05-54_2022-05-29_02-18-32,2785,785,3.547771
1253,B183_2022-10-21_13-39-31_2022-10-21_16-43-32,2783,585,4.757265
1254,B183_2022-07-19_03-40-03_2022-07-19_07-02-16,2770,578,4.792388
1255,B183_2022-06-24_23-09-54_2022-06-25_02-17-26,2369,601,3.941764

### 16. For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.

* For this question, we will use the dataframe "df_bus" but only the necessary columns.
* Concatenate the column "name" and "itcs_stopName", separated by "-".
* Then, we remove the duplicates.
* We will get all the bus stops for each bus consecutively.

In [44]:
df_bus_16 = df_bus[['time_iso','itcs_stopName','odometry_vehicleSpeed','status_doorIsOpen','status_haltBrakeIsActive','status_parkBrakeIsActive','name']].copy()
df_bus_16_1=df_bus_16.copy()
df_bus_16_1 = df_bus_16_1[df_bus_16_1['itcs_stopName'] != '-']

In [45]:
df_bus_16_1.shape

(444738, 7)

* We create a condition that will be the column "name" must be equal to the previous row.
* We use the function "loc", when the condition is satisfied then in the column "pair_stop" the "itcs_stopName" is concatenated.
* If the function "loc" is not satisfied, then "NaN" appears in the column "pair_stopName".
* We will obtain all the combinations of "pair_stop".

In [46]:
condition = df_bus_16_1['name'] == df_bus_16_1['name'].shift(1)

df_bus_16_1.loc[condition, 'pair_stop'] = df_bus_16_1['itcs_stopName'] + '-' + df_bus_16_1['itcs_stopName'].shift(1)
df_bus_16_1.loc[~condition, 'pair_stop'] = 'NaN'

In [47]:
df_bus_16_1.head(3)

,time_iso,itcs_stopName,odometry_vehicleSpeed,status_doorIsOpen,status_haltBrakeIsActive,status_parkBrakeIsActive,name,pair_stop
246,2019-04-30T03:23:02Z,"Zürich, Herdernstrasse",0.939195,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN
322,2019-04-30T03:24:18Z,"Zürich, Hardplatz",1.263030,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,"Zürich, Hardplatz-Zürich, Herdernstrasse"
406,2019-04-30T03:25:42Z,"Zürich, Güterbahnhof",0.643830,0.0,0.0,0.0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,"Zürich, Güterbahnhof-Zürich, Hardplatz"

In [48]:
df_bus_16_1.tail(3)

,time_iso,itcs_stopName,odometry_vehicleSpeed,status_doorIsOpen,status_haltBrakeIsActive,status_parkBrakeIsActive,name,pair_stop
48673038,2022-12-11T03:05:22Z,"Zürich, Fronwald",8.128356,0.0,0.0,0.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,"Zürich, Fronwald-Zürich, Bahnhof Affoltern"
48673076,2022-12-11T03:06:00Z,"Zürich, Unteraffoltern",8.845134,0.0,0.0,0.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,"Zürich, Unteraffoltern-Zürich, Fronwald"
48673166,2022-12-11T03:07:30Z,"Zürich, Schwandenholz",8.379841,0.0,0.0,0.0,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,"Zürich, Schwandenholz-Zürich, Unteraffoltern"

* The index of this last dataframe will be stored in a variable.
* We apply a "for" to evaluate for all the values of this created variable.
* We will use the function "loc" to add the "pair_stop" in the original dataframe with the index "i" of the previous dataframe, because both dataframes have the same index.
* We obtain in the original dataframe "df_bus_16" the precise locations of the "pair_stop".

In [49]:
list_index = df_bus_16_1.index.tolist()

for i in list_index:
    df_bus_16.loc[i, "pair_stop"] = df_bus_16_1.loc[i, "pair_stop"]

* Now we need to add the rest of the blanks in the "pair_stop" column.
* We will use the "fillna" function, which allows us to fill or replace values.
* We will use the "method=bfill", which is the backward fill method.
* Because we want the current bus stop - the previous one from the previous stop to the current stop.
* Then, the dataframe will be complete all the blanks in the "pair_stop" column.

In [50]:
df_bus_16['pair_stop'] = df_bus_16['pair_stop'].fillna(method='bfill')

In [51]:
df_bus_16.shape

(48674462, 8)

* To answer the question, we do the following: 
    * We group by "pair_sop" and calculate the sum of "odometry_vehicleSpeed" values for each group.
    * Then we group by "pair_sop" and calculate the quantity of "time_iso" values for each group.
* Both are stored in different variables
* We make a merge of these 2 variables with common column "pair_stop".
* We make a column calculation that will be the "mean_speed" which is the division of the sum of the "odometry_vehicleSpeed" and the number of rows of "time_iso".
* We will obtain the average speed per pair of consecutive stops.

In [52]:
total_speed=df_bus_16.groupby('pair_stop')['odometry_vehicleSpeed'].sum().reset_index()
total_count=df_bus_16.groupby('pair_stop')['time_iso'].count().reset_index()
df_16 = pd.merge(total_speed, total_count, on='pair_stop')
df_16['mean_speed'] = df_16['odometry_vehicleSpeed'] / df_16['time_iso']
df_16

,pair_stop,odometry_vehicleSpeed,time_iso,mean_speed
0,NaN,8.105006e+06,2395107,3.383985
1,"Zürich, Albisrank-Zürich, Flurstrasse",2.079127e+06,503048,4.133060
2,"Zürich, Albisrank-Zürich, Hubertus",2.561356e+06,443220,5.778972
3,"Zürich, Albisriederplatz-Zürich, Altes Kremato...",1.603413e+06,785357,2.041635
4,"Zürich, Albisriederplatz-Zürich, Escher-Wyss-P...",1.726490e+03,304,5.679242
...,...,...,...,...
376,"Zürich, Zwinglihaus-Zürich, Goldbrunnenplatz",7.560722e+04,23942,3.157932
377,"Zürich, Zwinglihaus-Zürich, Schmiede Wiedikon",4.753743e+05,134534,3.533488
378,"Zürich, Zwinglihaus-Zürich,Kalkbreite/Bhf.Wied...",1.105723e+05,25409,4.351699
379,"Zürich,Kalkbreite/Bhf.Wiedikon-Zürich, Kernstr...",7.800030e+04,25108,3.106592
380,"Zürich,Kalkbreite/Bhf.Wiedikon-Zürich, Zwingli...",1.229195e+05,32999,3.724947

* Another way to calculate the last part is to use the function "agg" (aggregate).
* We group according to the column "pair_stop" and use the function "agg" with the columns "odometry_vehicleSpeed" - "sum" and the column "time_iso" - "count" 
* We can rename the columns.
* Finally, calculate the column we need which would be the "mean_speed".

In [53]:
df_16_2 = df_bus_16.groupby('pair_stop').agg({'odometry_vehicleSpeed': 'sum', 'time_iso': 'count'}).reset_index()
df_16_2.columns = ['pair_stop', 'speed', 'count']
df_16_2['mean_speed']=df_16_2['speed']/df_16_2['count']
df_16_2

,pair_stop,speed,count,mean_speed
0,NaN,8.105006e+06,2395107,3.383985
1,"Zürich, Albisrank-Zürich, Flurstrasse",2.079127e+06,503048,4.133060
2,"Zürich, Albisrank-Zürich, Hubertus",2.561356e+06,443220,5.778972
3,"Zürich, Albisriederplatz-Zürich, Altes Kremato...",1.603413e+06,785357,2.041635
4,"Zürich, Albisriederplatz-Zürich, Escher-Wyss-P...",1.726490e+03,304,5.679242
...,...,...,...,...
376,"Zürich, Zwinglihaus-Zürich, Goldbrunnenplatz",7.560722e+04,23942,3.157932
377,"Zürich, Zwinglihaus-Zürich, Schmiede Wiedikon",4.753743e+05,134534,3.533488
378,"Zürich, Zwinglihaus-Zürich,Kalkbreite/Bhf.Wied...",1.105723e+05,25409,4.351699
379,"Zürich,Kalkbreite/Bhf.Wiedikon-Zürich, Kernstr...",7.800030e+04,25108,3.106592
380,"Zürich,Kalkbreite/Bhf.Wiedikon-Zürich, Zwingli...",1.229195e+05,32999,3.724947